<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link href="stylesheets/style.css" rel="stylesheet">
	
	<title>Realeyes homework</title>
</head>
<body>
	<h1>Realeyes homework</h1>
	<div id="non-capable" class="hidden">
		<p>You should be equipped with a webcam and allow us its usage</p>
	</div>
	<div id="capable" class="hidden">
		<div class="camera-denied hidden">
			<h2>To continue exercise please refresh the page and allow your webcam!</h2>
		</div>
		<div class="camera-allowed hidden">
			<div class="video">
				<video height="240" id="video" width="320" autoplay></video>
				<button id="captureBtn">Recognize</button>
				<canvas height="240" id="canvas" width="320"></canvas>
			</div>
			<div class="capture hidden">
				<div id="analyzisWrapper">
					<h1>Analyzis</h1>
					<pre id="analyzis"></pre>
				</div>
			</div>
			<div id="analyzisError" class="hidden">
				<h3>There was an error during face recognition, please try again later!</h3>
			</div>
		</div>
	</div>

	<script src="https://codesdwncdn.realeyesit.com/environment-checker/release/2/Realeyesit.EnvironmentalDetectionAPI.js" async="true"></script>
	<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
	<script src="./javascripts/lib.js"></script>
	<script src="./javascripts/main.js"></script>
</body>
</html>